"""

.. Warning::
  Change file paths before use! Copy Example outside of block quotes.
  Variable names EXACTLY from example.

Files can be located on a remote server, or locally, however a directory needs to be defined for:

* source files - QAQC will be attempted on every csv file in this directory.
* local processing (should be local to executing console)
* storage of processed data

Within the final storage directory, subdirectories will be created to sort files by project, then site.

.. Note::
  This file is directly executed by Python. Python syntax must be enforced.

`time_step format <https://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases>`_

Example::

  dir_source_files = "//server/bulk_export_CSV"

  # Files are initially stored here before being moved to dir_final_storage
  # This is used because dir_source_files and dir_final_storage may eventually be remote locations where latency may be
  # an issue.

  dir_local_processing = "C:/HOBO_QA/"

  dir_final_storage = "//server/bulk_export_clean"

  time_step = '5min'

  # Optional additional argument maps file prefix to a project directory in dir_final_storage
  map_fname2dir = {"RS":"REFSTAND", "TS":"STREAMT"}

"""
