"""

.. Warning::
  Change file paths before use! Copy variable names EXACTLY from example.

Files can be located on a remote server, or locally, however a directory needs to be defined for:

* source files - QAQC will be attempted on every csv file in this directory.
* local processing (should be local to executing console)
* storage of processed data

Within the final storage directory, subdirectories will be created to sort files by project, then site.
 
:Example:

  dir_source_files = "\\server/HOBO_DROP/"

  dir_local_processing = "C:/HOBO_DROP/"

  dir_final_storage = "\\server/"

.. Note::
  This file is directly executed by Python. Python syntax must be enforced.

`time_step format <https://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases>`_

"""
# time_step options: 5min, 15min
time_step="5min"

map_fname2dir = {"RS":"REFSTAND", "TS":"STREAMT"}


